<!doctype html>
<html>
   <head>
   <title>Web app Calculator</title>
   </head>
   <body>
   
   
       <p><button type="submit" value = 1> 1 </button>
       <button type="submit" value = 2> 2 </button>
       <button type="submit" value = 3> 3 </button>
       <button type="submit"> C </button></p>
       <p><button type="submit"value = 4> 4 </button>
       <button type="submit" value = 5> 5 </button>
       <button type="submit" value = 6> 6 </button>
       <button type="submit"> + </button></p>
       <p><button type="submit" value = 7> 7 </button>
       <button type="submit" value = 8> 8 </button>
       <button type="submit" value = 9> 9 </button>
       <button type="submit"> - </button></p>
       <p><button type="submit" value = 0> 0 </button>
       <button type="submit"> * </button>
       <button type="submit"> / </button>
       <button type="submit"> = </button></p>
       <p><button type="submit"> ( </button>
       <button type="submit"> ) </button>
       <button type="submit"> sin </button>
       <button type="submit"> tan </button></p>
       <p><button type="submit"> cos </button>
       <button type="submit"> log </button>
       <button type="submit"> sqrt </button>
       <button type="submit"> CE </button></p>
       
   </body>
</html>
